ubuntu_build/
build/
out/
bin/
lib/
binaries/
*.exe
*.dll
*.so
*.a
*.lib
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.cmake
!CMakeLists.txt
.vs/
*.vcxproj*
*.sln
*.vcxproj.user
*.suo
*.sdf
ipch/
*.aps
*.ncb
*.opensdf
